<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689042038719-eoe0qn4l8iejlcb1gs6lii57bq91obbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689042038719-eoe0qn4l8iejlcb1gs6lii57bq91obbm</string>
	<key>API_KEY</key>
	<string>AIzaSyBTru7jIFDAqNG6ODWxpsZNteZk81_Suew</string>
	<key>GCM_SENDER_ID</key>
	<string>689042038719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-14934</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-14934.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689042038719:ios:fa0879e0e5d5931ad94b0a</string>
	<key>DATABASE_URL</key>
	<string>https://ditonton-14934-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>